<footer class="footer">
    <p>
        <a href="https://adityatechndevoops.web.app" target="_blank" rel="noopener noreferrer">
            Aditya Tech. & Devoops. &copy; 2025 | Encoorporated under Royal Grey Enterprises since 2024
        </a>
    </p>
</footer>